{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Product</h1>

    {{ form_start(form, {
        'attr': {'novalidate': 'novalidate'}
    }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}

        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
